
#home {
background-color: #e1e6e3f1;
left: 0;
right: 0;
top: 0;
height:400px;
width: 100%;
}
#second {
    top: 400px;  
    height: 300px;   
}
#explore {
    top: 700px;
    height: 400px;
    background-color: #e1e6e3f1;
}
#hotdeals{
    top: 1100px;
    height: 350px;
    background-color: #C9ECB5;
}
#contacts{
    top: 1450px;
    height: 400px;
    background-color: #FFD77C;
}
#footer{
    top: 1500px;
    height: 200px;
    background-color: #e1e6e3f1;
}