body{
    padding: 0;
    margin: 0;
}
#home {
background-color: #e1e6e3f1;
height:700px;
width: 100%;
}
#circle{
    background-color: #649549;
    height: 1200px;
    width: 1200px;
    border-radius: 50%;
    position: absolute;
    left: 25%;
    bottom: 25%;
    overflow: hidden;
    
}
#second {
    top: 700px;  
    height: 600px;
    margin-left: 50px;
    margin-right: 50px;   
}
#explore {
    background-color: #e1e6e3f1;
    top: 1300px;
    height: 600px;
    margin-left: 50px;
    margin-right: 50px;
}
#hotdeals{
    top: 1900px;
    height: 600px;
    background-color: #C9ECB5;
    margin-left: 50px;
    margin-right: 50px; 
}
#contacts{
    top: 2500px;
    height: 600px;
    background-color: #FFD77C;
    margin-left: 50px;
    margin-right: 50px; 
}
#footer{
    background-color: #e1e6e3f1;
    top: 3100px;
    height: 250px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px; 
}